.button {
    padding: 16px 32px;
    border-radius: 10px;
    background: none;
    border: none;
    font-family: 'Fira Sans';
    font-size: 18px;
    font-weight: 400;
    color: var(--color-white);
    text-align: center;
    cursor: pointer;
}

.button_violet {
    background: var(--color-violet);
    &:hover {
        background: rgb(94, 49, 179); 
    }
}

.button_border {
    border: var(--border);
    padding: 15px 31px;
    &:hover {
        background: var(--color-violet-dark); 
    }
}

.button_video {
    border: none;
    background: var(--color-dark-grey);
    display: flex;
    gap: 8px;
    line-height: 24px;
}

@media (max-width: 360px) {
    
}