.button {
    padding: 16px 32px;
    background: var(--color-violet);
    border-radius: 10px;
    border: none;
    font-family: 'Fira Sans';
    font-size: 18px;
    font-weight: 400;
    color: var(--color-white);
    text-align: center;
    cursor: pointer;
}

.button_focus {
    border: var(--border);
    padding: 15px 31px;
    background: none;
}

.button_video {
    border: none;
    background: var(--color-dark-grey);
    display: flex;
    gap: 8px;
    line-height: 24px;
}