.hello {
    min-height: 360px;
    background-color: var(--color-dark-grey);
    padding: 100px 0;
}

.hello__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hello__main-title {
    font-family: 'Fira Sans';
    font-size: 54px;
    font-weight: 700;
    line-height: 100%;
    color: var(--color-white);
    margin-bottom: 32px;
    & span {
        background-image: var(--color-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

.hello__button-box {
    display: flex;
    gap: 32px;
}

.hello__about {
    position: relative;
    box-shadow: 0px 4px 30px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: none;
}

.hello__welcome-video {
    display: block;
    width: 100%;
}

.hello__button-video {
    position: absolute;
    bottom: 24px;
    left: 24px;
}

.main-text {
    color: var(--color-pink);
    font-family: 'Fira Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 8px;
}

.main-title {
    color: var(--color-white);
    font-family: 'Fira Sans';
    font-size: 46px;
    font-weight: 400;
    line-height: 120%;
}

.main-descr {
    color: var(--color-white);
    font-family: 'Fira Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    max-width: 790px;
}

.catalog {
    min-height: 1440px;
    background-color: var(--color-black);
    padding: 100px 0;

}

.catalog__title {
    margin-bottom: 48px;
}

.catalog__nav-menu {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
    overflow: scroll;
    scrollbar-width: none;
    margin: 0 -24px 32px -24px;
    padding-left: 24px;
    white-space: nowrap; /*no wrap space words*/
    &::-webkit-scrollbar {
        display: none;
    }
    & .catalog__nav-button {
        color: var(--color-white);
        font-family: 'Fira Sans';
        font-size: 18px;
        font-weight: 400;
        line-height: 120%;
        background: none;
        border: var(--border);
        border-radius: 10px;
        padding: 8px 16px;
        cursor: pointer;
        &:hover {
            background-color: var(--color-dark-grey);
        }
    }
    & .catalog__nav-button_active {
        background-color: var(--color-violet);
        border: none;
        &:hover {
            background: rgb(78, 40, 149);
        }
    }
}

.catalog__card-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
    gap: 70px;
}

.course-card {
    & .course-card__img {
        display: block;
        width: 100%;
    }
    & .course-card__descr {
        padding: 24px;
        border: none;
        background-color: var(--color-dark-grey);
        & .course-card__title {
            color: var(--color-white);
            font-family: 'Fira Sans';
            font-size: 24px;
            font-weight: 700;
            line-height: 120%;
            padding-bottom: 4px;
        }
        & .course-card__text {
            color: var(--color-grey);
            font-family: 'Fira Sans';
            font-size: 18px;
            font-weight: 400;
            line-height: 120%;
            margin-bottom: 18px;
        }
        & .course-card__time {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 18px;
            & p {
                color: var(--color-white);
                font-family: 'Fira Sans';
                font-size: 16px;
                font-weight: 400;
                line-height: 120%;
            }
        }
        & .course-card__status {
            display: flex;
            align-items: center;
            gap: 12px;
            & .course-card__star-box {
                display: flex;
                gap: 4px;
                color: var(--color-white);
                font-family: 'Fira Sans';
                font-size: 16px;
                font-weight: 400;
                line-height: 120%;
                border: var(--border);
                padding: 6px 12px;
                border-radius: 17px;
            }
            & .course-card__option {
                color: var(--color-white);
                font-family: 'Fira Sans';
                font-size: 16px;
                font-weight: 400;
                line-height: 120%;
                border: var(--border);
                padding: 6px 12px;
                border-radius: 17px;
            }
        }
    }
    .course-card__price-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px;
        border-radius: 0px 0px 10px 10px;
        background-color: var(--color-violet-dark);
        & .course-card__price {
            color: var(--color-white);
            font-family: 'Fira Sans';
            font-size: 22px;
            font-weight: 700;
            line-height: 120%;
        }
    }
}

.about {
    min-height: 890px;
    background-color: var(--color-dark-grey);
    padding: 100px 0;
}

.about__title {
    margin-bottom: 32px;
}

.about__descr {
    margin-bottom: 48px;
}

.about__statistic {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
    gap: 16px 70px;
    margin-bottom: 70px;
}

.about__responce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 48px;
    background-color: var(--color-violet-dark);
    border-radius: 10px;
    & p {
        color: var(--color-white);
        font-family: 'Fira Sans';
        font-size: 18px;
        font-weight: 400;
        line-height: 120%;
        text-align: center;
    }
    & h3 {
        background: var(--color-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-family: 'Fira Sans';
        font-size: 46px;
        font-weight: 700;
        text-align: center;
    }
}

.about__platform {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
    gap: 32px 70px;
}

.about__raiting {
    grid-column: 1 / -1;
    color: var(--color-white);
    font-family: 'Fira Sans';
    font-size: 36px;
    font-weight: 400;
    line-height: 120%;
}

.topic {
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: var(--color-violet-dark);
    border-radius: 10px;
    padding: 24px 32px;
    & .topic__grade {
        color: var(--color-white);
        font-family: 'Fira Sans';
        font-size: 54px;
        font-weight: 400;
        line-height: 120%;
        text-align: center;
    }
    & .topic__star-box {
        display: flex;
        gap: 9px;
        flex-direction: column;
    }
    & .topic__star {
        display: flex;
        gap: 10px;
    }
}

.materials {
    background-color: var(--color-black);
    padding: 100px 0;
    min-height: 1430px;
}

.materials__title {
    margin-bottom: 32px;
}

.materials__descr {
    margin-bottom: 32px;
}

.materials__contacts {
    margin-bottom: 48px;
}

.materials__comments {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-bottom: 52px;
}

.materials__button {
    width: fit-content;
    margin: 0 auto;
}

.contacts {
    display: flex;
    gap: 24px;
    & .contacts__link a{
        padding: 10px;
        border: var(--border);
        border-radius: 8px;
        display: flex;
        text-decoration: none;
    }
}

.comment-box {
    background-color: var(--color-dark-grey);
    padding: 34px 32px;
    border-radius: 10px;
    position: relative;
    & .comment-box__statistic {
        display: flex;
        gap: 32px;
        margin-bottom: 12px;
        & .stat {
            display: flex;
            gap: 8px;
            align-items: center;
            color: var(--color-grey);
            font-family: 'Fira Sans';
            font-size: 16px;
            font-weight: 400;
            line-height: 120%;
        }
    }
    & .comment-box__title {
        color: var(--color-white);
        font-family: 'Fira Sans';
        font-size: 24px;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 12px;
    }
    & .comment-box__text {
        max-width: 740px;
        color: var(--color-white);
        font-family: 'Fira Sans';
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
    }
    & .comment-box__button {
        position: absolute;
        right: 40px;
        top: 35px;
    }
}

